#home {
      width: 350px;
      height: 350px;
      background-image: url('/images/snake.png');
      background-size: auto 350px;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center center;
      padding: 0;
      margin: 03;
    }

.game {
      margin: 0 auto;
}

#scorediv {
      width: 180px;
      height: 30px;
      text-align: center;
      background-color: lightgray;
}
#rightnav {
      background-color: black;
      width: 200px;
      height: 1000px;
      float: right;
}
h3 {
      font-family: 'Press Start 2P', cursive;
}
