body {
  background-color: b9add6;
}

#chatbox {
  background-color: #d2d2d2;
  height: 700px;
  width: 1000px;
  align: center;
  border-style: solid;
}

#header {
  background-color: #a1d1ed;
  border-stlye: solid;
}

p.left {align: left;}
p.right {align: right;}
p.center {align: center;}

button {
 font-size: 18px;
 background-color: lightgray;
}
