body {
  background-color: b9add6;
}

#chatbox {
  background-color: #d2d2d2;
  height: 700px;
  width: 1000px;
  background-position: center center;
}

#header {
  background-color: #a1d1ed;
}

div.dotted {border-style: dotted;}
div.dashed {border-style: dashed;}
div.solid {border-style: solid;}
div.double {border-style: double;}
div.groove {border-style: groove;}
div.ridge {border-style: ridge;}
div.inset {border-style: inset;}
div.outset {border-style: outset;}
div.
