    @import url('https://fonts.googleapis.com/css?family=Ubuntu');
    
    button {
      font-family: 'Ubuntu', sans-serif;
      font-size: 14px;
    }
    p {
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
    }
    h1 {
      font-family: 'Ubuntu', sans-serif;
    }
    body {
      background-image: url("/fox/images/fox-background.jpg");
    }
    h2 {
      font-size: 8px;
      font-family: 'Ubuntu', sans-serif;
      font-style: bold;
    }
    #rightnav {
      background-color: white;
      width: 440px;
      height: 1500px;
      float: right;
      padding: 0px;
      margin: 0 0;
      text-align: center;
    }
    footer {
      font-family: 'Ubuntu', sans-serif;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: lightgray;
      color: black;
      text-align: center;
    }
